<div class="container bg-dark text-light">
  <div class="row">
    <div class="col-md-12 bg-dark text-light">
      <div class="card text-center">
        <div class="card-header bg-dark text-light">
          Preview Collection!
        </div>
        <div class="card-body text-dark">
          <h5 class="card-title">Special title treatment</h5>
          <!--Pokemon Cards go here-->
          <div class="row justify-content-center p-3">
            <div class="col-lg-3 col-sm-12 col-md-12 m-4">
              <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="..." alt="Card image cap" />
                <div class="card-body">
                  <p class="card-title">Charmander</p>
                  <p class="card-text">
                    Type : Fire
                  </p>
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-sm-12 col-md-12 m-4">
              <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="..." alt="Card image cap" />
                <div class="card-body">
                  <p class="card-title">Charmeleon</p>
                  <p class="card-text">
                    Type : Fire
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-sm-12 col-md-12 m-4">
              <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="..." alt="Card image cap" />
                <div class="card-body">
                  <p class="card-title">Charizard</p>
                  <p class="card-text">
                    Type : Fire
                  </p>
                </div>
              </div>
            </div>
          </div>
          <a href="#" class="btn btn-primary" routerLink="/collection"
            >Full Collection</a
          >
        </div>
        <div class="card-footer text-muted"></div>
      </div>
    </div>
  </div>
</div>
