<!--Navbar-->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top mb-5">
  <div class="container">
    <button
      class="navbar-toggler"
      data-toggle="collapse"
      data-target="#navbarCollapse"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a href="" routerLink="/landing">Landing Page</a>
        </li>
        <li class="nav-item">
          <a href="" routerLink="/register">Register</a>
        </li>
        <li class="nav-item">
          <a href="" routerLink="/login">Login</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!--End Nav-->

<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a href="" routerLink="/login">Login</a>
  <a href="" routerLink="/register">Register</a>
  <a href="" routerLink="/landing">Landing Page</a>
</nav> -->
