<app-logged-nav-bar></app-logged-nav-bar>
<div class="container bg-dark text-light mt-5">
  <div class="row">
    <div class="col-md-6">
      <app-collection-view-search></app-collection-view-search>
    </div>
    <div class="col-md-6">
      <app-collection-view-filter></app-collection-view-filter>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-12">
      <app-full-collection-view></app-full-collection-view>
    </div>
  </div>

  <div class="container bg-dark text-light mt-5"></div>
</div>
